<div style="margin-top: 5px; margin-left: 5px">
  <mat-grid-list cols="4" rowHeight="3:1">
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onSampleRegestration()">
        Sample Regestration
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onSampleTestPlan()">
        Sample Test Plan
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onWSLotRecord()">
        WS Lot Record
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onWSLotPuritiesRecord()">
        WS Lot Purities Record
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onWSLotContainersRecord()">
        WS Lot Containers Record
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onWSLotContainersUsage()">
        WS Lot Containers Usage
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onUsageTypeMaster()">
        Usage Type Master
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onPurityTypeMaster()">
        Purity Type Master
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onWSLotContainersList()">
        WS Lot Containers List
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onPurityList()">
        Purity List
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onContainersList()">
        Containers List
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onIssuanceContainersList()">
        Issuance Containers List
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onConsumptionList()">
        Consumption List
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)="onConsumptionCompletedList()">
        Consumption Completed List
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>