<mat-spinner
  *ngIf="isLoading"
  class="global-loading-spinner"
  color="primary"
  mode="indeterminate"
></mat-spinner>

<app-common-header
  [pageData]="this.pageData"
  (headerData)="getHeaderData($event)"
></app-common-header>
<div>
  <mat-spinner
    *ngIf="isLoading"
    class="global-loading-spinner"
    color="primary"
    mode="indeterminate"
  ></mat-spinner>
  <div>
    <!--Issue Detail start -->
    <div class="table-box">
      <div class="section_header">
        <div class="float-start">
          <p class="section_header_title">Problem Information</p>
        </div>
        <div class="float-end"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="UserRequirementForm">
          <div class="row no-gutters ms-1 me-1 dense-4 m-1">
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Occured Date</mat-label>
              <input
                type="text"
                matInput
                [matDatepicker]="pickerFrom"
                formControlName="ff0002"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerFrom"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Report Date</mat-label>
              <input
                type="text"
                matInput
                [matDatepicker]="pickerTo"
                formControlName="ff0003"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerTo"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
          <mat-label>Status</mat-label>
          <input type="text" matInput formControlName="status" placeholder="Status" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-3 px-1">
          <mat-label>Serverity</mat-label>
          <input type="text" matInput formControlName="market" placeholder="Market" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-3 px-1">
          <mat-label>Customer Name</mat-label>
          <input type="text" matInput formControlName="customerName" placeholder="Customer Name" />
        </mat-form-field>
         <mat-form-field appearance="outline" class="col-3 px-1">
          <mat-label>Product Impact</mat-label>
          <input type="text" matInput formControlName="productImpact" placeholder="Product Impact" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-3 px-1">
          <mat-label>Batch Impact</mat-label>
          <input type="text" matInput formControlName="batchImpact" placeholder="Batch Impact" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-3 px-1">
          <mat-label>Validation Impact</mat-label>
          <input type="text" matInput formControlName="validationImpact" placeholder="Validation Impact" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-3 px-1">
          <mat-label>Data Integrity Impact</mat-label>
          <input type="text" matInput formControlName="dataIntegrityImpact" placeholder="Data Integrity Impact" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-3 px-1">
          <mat-label>Regulatory Impact</mat-label>
          <input type="text" matInput formControlName="regulatoryImpact" placeholder="Regulatory Impact" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-3 px-1">
          <mat-label>Investigation Required</mat-label>
          <input type="text" matInput formControlName="investigationRequired" placeholder="Investigation Required" />
        </mat-form-field>
          </div>
          <div class="row no-gutters me-1 ms-1">
            <mat-form-field appearance="outline" class="col-12 px-1">
              <mat-label>Problem Brief</mat-label>
              <textarea
                type="text"
                matInput
                placeholder="Problem Brief"
                formControlName="ff0001"
              >
              </textarea>
            </mat-form-field>
          </div>
          <div class="row no-gutters ms-1 me-1 margin-top_10">
        <mat-form-field appearance="outline" class="width_100">
          <mat-label>Problem Detail</mat-label>
          <textarea type="text" matInput placeholder="Title" formControlName="title">
          </textarea>
        </mat-form-field>
          </div>
        </form>
      </div>
    </div>
    

    <!-- my-component.component.html -->
    <div class="table-box">
      <div class="section_header_child_1">
        <div class="float-left"></div>
        <div class="float-right">
          <button
            mat-raised-button
            class="section-add-new-record-btn"
            (click)="addNewRow()"
          >
            Add Problem
          </button>
        </div>
      </div>
    </div>
    <ng-container *ngFor="let item of ccLineItemIndexDTOList; let i = index">
          <div class="table-box">
            <div class="section_header_child_1">
              <div class="float-start">
                <p class="section_header_title">Problem - {{ i + 1 }}</p>
              </div>
              <div class="float-end">
                <button mat-raised-button class="section-add-remove-record-btn" (click)="addRemoveEventRow(item)">
                  Remove
                </button>
              </div>
            </div>
          </div>

          <div class="row no-gutters ms-1 me-1 dense-4">
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Item Category</mat-label>
              <input type="text" [(ngModel)]="item.ff0001" matInput placeholder="Item Category" />
              <img alt="lov img" src="../../../../../../assets/searchfind.svg" class="icon-size lovSearchButton"
                color="primary" (click)="openItemCategoryLov(i)" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Item Subcategory</mat-label>
              <input type="text" [(ngModel)]="item.ff0002" matInput placeholder="Item Subcategory" />
              <img alt="lov img" src="../../../../../../assets/searchfind.svg" class="icon-size lovSearchButton"
                color="primary" (click)="openItemSubCategoryLov(i)" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Item Name</mat-label>
              <input type="text" [(ngModel)]="item.ff0003" matInput placeholder="Item Name" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Item No</mat-label>
              <input type="text" [(ngModel)]="item.ff0004" matInput placeholder="Item No" />
            </mat-form-field>
          </div>

          <!--Table start-->
          <div class="tabOverFlowX" *ngIf="item.ccLineDesDTOList.length > 0">

            <button mat-raised-button class="add-new-record-btn" (click)="addLineItem(item)">
              Add Row
            </button>


            <table class="display-table" id="dataTable">
              <thead>
                <tr>
                  <th></th>
                  <th>Root Cause?</th>
                  <th>Immediate Action</th>
                  <th>CAPA</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let element of item.ccLineDesDTOList; let idx = index">
                  <td class="">
                    <img src="/assets/delete.png" (click)="deleteTodo(i, idx)" />
                  </td>
                  <td class="text-align_right">
                    <textarea type="text" class="form-control form-control-sm" [(ngModel)]="element.ff0005" rows="3">
                    </textarea>
                  </td>
                  <td class="">
                    <textarea type="text" class="form-control form-control-sm" [(ngModel)]="element.ff0006" rows="3">
                    </textarea>
                  </td>
                  <td class="">
                    <textarea type="text" class="form-control form-control-sm" [(ngModel)]="element.ff0007" rows="3">
                    </textarea>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <!--Table end-->
      </div>

    <!--Attachment Section-->
<div class="table-box">
  <div class="section_header">
    <div class="float-left">
      <p class="section_header_title">Attachment Detail</p>
    </div>
    <div class="float-right"></div>
  </div>
</div>
<!--File Upload start-->
<div class="adjust">
  <div class="example-input-container">
    <form [formGroup]="CCRequirementForm">
      <div class="row no-gutters ms-1 me-1 dense-4 padding-top_5">
        <mat-form-field appearance="outline" class="col-4 px-1">
          <mat-label>Document Name</mat-label>
          <input type="text" matInput formControlName="documentName" placeholder="Document Name" />
        </mat-form-field>
      <div class="col-5 px-1">
          <input type="file" id="file" (change)="handleFileInputAttachment($event)" accept=".doc, .docx, .pdf" />
        </div>
      </div>
    </form>
    <div class="add-btn-container">
      <button mat-raised-button class="submitButton" (click)="onCreateSelectedDataListAttachment()">
        Add Row
      </button>
    </div>
  </div>
  <div class="example-input-container">
    <mat-card *ngIf="this.tableDataAttachment">
      <mat-table [dataSource]="tableDataAttachment" matSort id="dataTable">
        <ng-container matColumnDef="documentName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Document Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.documentName }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="categoryTypes">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Category Types
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.ff0005 }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="removeRow">
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button color="warn" (click)="removeRowAttachment(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="AddedUserdisplayedColumnsAttachment"></mat-header-row>
        <mat-row *matRowDef="let row; columns: AddedUserdisplayedColumnsAttachment"></mat-row>
      </mat-table>
    </mat-card>
  </div>
</div>

    <app-as-common-footer
      [pageData]="this.pageData"
      (comments)="getCommentsData($event)"
    >
      <div class="table-box">
        <app-comments-table
          [headerData]="headerData"
          [ff0005Value]="ff0005"
        ></app-comments-table>
      </div>
    </app-as-common-footer>
  
    <button
  *ngIf="headerData?.role === 'CC-QA Reviewer'"
  mat-raised-button
  class="submitButton"
  (click)="addNewRow()"
>
  CFT User
</button>
    
    <app-common-button-bar
      [buttonConfig]="buttonConfig"
      (buttonClicked)="onButtonClicked($event)"
      [redirectUrl]="redirectUrl"
    >
    </app-common-button-bar>
    <mat-spinner
      *ngIf="isLoading"
      class="global-loading-spinner"
      color="primary"
      mode="indeterminate"
    ></mat-spinner>
    <div class="height_5"></div>
  </div>
