<div style="margin-top: 5px; margin-left: 5px">
  <mat-grid-list cols="4" rowHeight="3:1">
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)=" onChemicalMasterRegistration()">
       Chemical Master Registration
      </button>
    </mat-grid-tile>
     <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)=" onCHMLotRegistration()">
      CHM Lot Registration
      </button>
    </mat-grid-tile>
     <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)=" onCHMLotUsage()">
         CHM Lot Usage
      </button>
    </mat-grid-tile>
     <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)=" onTestSolutionMaster()">
    Test Solution Master
      </button>
    </mat-grid-tile>
     <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)=" onTestSolutionPreparationInputChemicalMaster ()">
        Test Solution Preapation Input Chemical Master
      </button>
    </mat-grid-tile>
     <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)=" onTestSolutionRecord()">
        Test Solution Record
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)=" onTestSolutionPreparationInputChemicalsRecord()">
        Test Solution Preparation Input Chemicals Record
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
