.example-table-container {
  min-width: 99%;
  /* overflow-x: scroll; */
}

.height_50 {
  height: 50px;
}

.display-flex {
  display: flex;
  justify-content: center;
}

.display-end {
  display: flex;
  justify-content: end;
}
