<div style="margin-top: 5px; margin-left: 5px">
  <mat-grid-list cols="4" rowHeight="3:1">
    <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)=" onVolumetricSolutionUsage()">
       Volumetric Solution Usage
      </button>
    </mat-grid-tile>
     <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)=" onSolutionNameMaster()">
      Solution Name Master
      </button>
    </mat-grid-tile>
     <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)=" onSolutionTempletMaster()">
    Solution Templet Master 
      </button>
    </mat-grid-tile>
     <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)=" onSolutionPreparationMaster()">
    Solution Preparation  Master 
      </button>
    </mat-grid-tile>
     <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)=" onSampleRegestrationVsMaster ()">
Sample Regestration Vs Master 
      </button>
    </mat-grid-tile>
     <mat-grid-tile>
      <button mat-raised-button class="tile-view" (click)=" onSampleTestPlanVsMaster()">
Sample Test Plan Vs Master  
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
