.example-table-container {
    min-width: 100%;
}

.purity-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 42px;
    padding: 0 10px;
}

.add-btn {
    height: 33px ;
    margin-top: -4px;
}
.remove-btn {
    height: 15px ;
    margin-top: 10px;
    width: 10px;
}