.example-table-container {
  min-width: 100%;
  /* overflow-x: scroll; */
}

.display-flex {
  display: flex;
  justify-content: center;
}

.height_50 {
  height: 50px;
}

.margin-left_12_px {
  margin-left: 12px;
}
