<mat-spinner
  *ngIf="isLoading"
  class="global-loading-spinner"
  color="primary"
  mode="indeterminate"
></mat-spinner>

<app-common-header
  [pageData]="this.pageData"
  (headerData)="getHeaderData($event)"
></app-common-header>
<div>
  <mat-spinner
    *ngIf="isLoading"
    class="global-loading-spinner"
    color="primary"
    mode="indeterminate"
  ></mat-spinner>
  <div>
    <!--Issue Detail start -->
    <div class="table-box">
      <div class="section_header">
        <div class="float-start">
          <p class="section_header_title">Change Information</p>
        </div>
        <div class="float-end"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="UserRequirementForm">
          <div class="row no-gutters ms-1 me-1 dense-4 m-1">
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Start Date</mat-label>
              <input
                type="text"
                matInput
                [matDatepicker]="pickerFrom"
                formControlName="ff0002"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerFrom"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>End Date</mat-label>
              <input
                type="text"
                matInput
                [matDatepicker]="pickerTo"
                formControlName="ff0003"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerTo"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="row no-gutters me-1 ms-1">
            <mat-form-field appearance="outline" class="col-12 px-1">
              <mat-label>Change Description</mat-label>
              <textarea
                type="text"
                matInput
                placeholder="Change Description"
                formControlName="ff0001"
              >
              </textarea>
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
    <!--Issue detail end -->

    <!--Event Classification-->
    <!-- <div class="table-box">
      <div class="section_header">
        <div class="float-start">
          <p class="section_header_title">Event Classification</p>
        </div>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-12">
        <form [formGroup]="EventForm">
          <div class="row no-gutters ms-1 me-1 dense-4">
            <mat-form-field appearance="outline" class="col-4 px-1">
              <mat-label>Severity of the Event</mat-label>
              <input
                type="text"
                matInput
                formControlName="ff0001"
                placeholder="Severity of the Event"
              />
              <img
                alt="lov img"
                src="../../../../../../assets/searchfind.svg"
                class="icon-size lovSearchButton"
                color="primary"
                (click)="openSeverityEventLov()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-4 px-1">
              <mat-label>Probability of Occurrence</mat-label>
              <input
                type="text"
                matInput
                formControlName="ff0002"
                placeholder="Probability of Occurrence"
              />
              <img
                alt="lov img"
                src="../../../../../../assets/searchfind.svg"
                class="icon-size lovSearchButton"
                color="primary"
                (click)="openOccurenceLov()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-4 px-1">
              <mat-label>Detection Mechanism</mat-label>
              <input
                type="text"
                matInput
                formControlName="ff0003"
                placeholder="Detection Mechanism"
              />
              <img
                alt="lov img"
                src="../../../../../../assets/searchfind.svg"
                class="icon-size lovSearchButton"
                color="primary"
                (click)="openDetectionLov()"
              />
            </mat-form-field>
          </div>
          <div class="row no-gutters ms-1 me-1 dense-4">
            <mat-form-field appearance="outline" class="col-4 px-1">
              <mat-label>Risk Priority Number (RPN)</mat-label>
              <input
                type="text"
                matInput
                formControlName="ff0004"
                placeholder="Risk Priority Number (RPN)"
                [readonly]="isReadonly"
                [class.isReadonlyFieldForQuotation]="isReadonly"
                [class.isReadonlyFieldForQuotationWithRisk]="isRiskFlag"
                [class.isReadonlyFieldForQuotationMediumRisk]="mediumRisk"
                [class.isReadonlyFieldForQuotationNoRisk]="noRisk"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-4 px-1">
              <mat-label>Category Event Classification</mat-label>
              <input
                type="text"
                matInput
                formControlName="ff0005"
                placeholder="Category Event Classification"
                [readonly]="isReadonly"
                [class.isReadonlyFieldForQuotationWithRisk]="isRiskFlag"
                [class.isReadonlyFieldForQuotationMediumRisk]="mediumRisk"
                [class.isReadonlyFieldForQuotationNoRisk]="noRisk"
                [class.isReadonlyFieldForQuotation]="isReadonly"
              />
            </mat-form-field>
          </div>
        </form>
      </div>
    </div> -->

    <!-- my-component.component.html -->
    <div class="table-box">
      <div class="section_header_child_1">
        <div class="float-left"></div>
        <div class="float-right">
          <button
            mat-raised-button
            class="section-add-new-record-btn"
            (click)="addNewliRow()"
          >
            Add Line Item
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="lineItemData">
      <ng-container
        *ngFor="let lineItem of lineItemData; let lineIndex = index"
      >
        <ng-container
          *ngFor="let item of lineItem.ccLineItemIndexDTOList; let i = index"
        >
          <div class="table-box">
            <div class="section_header_child_1">
              <div class="float-left">
                <p class="section_header_title">
                  Line Items - {{ lineIndex + 1 }}
                </p>
              </div>
              <div class="float-right">
                <button
                  mat-raised-button
                  color="primary"
                  class="section-add-remove-record-btn"
                  (click)="removeRow(lineIndex, i)"
                >
                  Remove
                </button>
              </div>
            </div>
          </div>

          <div class="row no-gutters ms-1 me-1 dense-4">
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Item Category</mat-label>
              <input
                type="text"
                [(ngModel)]="item.ff0001"
                matInput
                placeholder="Item Category"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Item Subcategory</mat-label>
              <input
                type="text"
                [(ngModel)]="item.ff0002"
                matInput
                placeholder="Item Subcategory"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Item Name</mat-label>
              <input
                type="text"
                [(ngModel)]="item.ff0003"
                matInput
                placeholder="Item Name"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Item No</mat-label>
              <input
                type="text"
                [(ngModel)]="item.ff0004"
                matInput
                placeholder="Item No"
              />
            </mat-form-field>
          </div>

          <!--Table start-->
          <div
            class="tabOverFlowX m-2"
            *ngIf="item.ccLineDesDTOList.length > 0"
          >
            <div class="button-container">
              <button
                mat-raised-button
                class="add-new-record-btn"
                (click)="addLineItem(item)"
              >
                Add Row
              </button>
            </div>

            <table class="display-table" id="dataTable">
              <thead>
                <tr>
                  <th>Existing?</th>
                  <th>Propose</th>
                  <th>Justification</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let element of item.ccLineDesDTOList; let idx = index"
                >
                  <td>
                    <textarea
                      type="text"
                      class="form-control form-control-sm"
                      [(ngModel)]="element.ff0005"
                      rows="3"
                    >
                    </textarea>
                  </td>
                  <td>
                    <textarea
                      type="text"
                      class="form-control form-control-sm"
                      [(ngModel)]="element.ff0006"
                      rows="3"
                    >
                    </textarea>
                  </td>
                  <td>
                    <textarea
                      type="text"
                      class="form-control form-control-sm"
                      [(ngModel)]="element.ff0007"
                      rows="3"
                    >
                    </textarea>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <!--document detail start-->
    <div class="table-box">
      <div class="section_header">
        <div class="float-left">
          <p class="section_header_title">Document Details</p>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button
        mat-raised-button
        class="add-new-record-btn"
        (click)="addNewDocumentDetailRow('Document Details')"
      >
        Add New Record
      </button>
    </div>
    <div class="m-2">
      <div *ngIf="this.lc0003">
        <div *ngIf="documentListData">
          <mat-table
            [dataSource]="documentListTableData"
            
            matSort
            id="dataTable"
            class="bg-color_ghost_White"
          >
            <ng-container matColumnDef="uc0001">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Document No</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.uc0001 }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ff0007">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Document Name</mat-header-cell
              >
              <mat-cell *matCellDef="let row">{{ row.ff0007 }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="version">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Version
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ getVersion(row) }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="createdby">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Created By
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.createdby }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="createdon">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Created On
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.createdon | customDatePipe : "dateWithHrMin" }}</mat-cell
              >
            </ng-container>
            <ng-container matColumnDef="ff0005">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Category Types
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.ff0005 }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="removeRow">
              <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button
                  *ngIf="row.uc0001"
                  mat-icon-button
                  color="primary"
                  (click)="downloadDocument(row)"
                >
                  <mat-icon>download</mat-icon>
                </button>
                <button
                  *ngIf="row.uc0001"
                  mat-icon-button
                  color="primary"
                  (click)="previewDocument(row, 'document')"
                >
                  <mat-icon>open_in_new</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="documentListdisplayedColumns"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: documentListdisplayedColumns"
            ></mat-row>
          </mat-table>
        </div>
        <div *ngIf="!documentListData">
          <p style="color: red">No Record Found</p>
        </div>
      </div>
    </div>
    <!--document detail end-->
    <!-- <div class="table-box">
      <div class="section_header">
        <div class="float-start">
          <p class="section_header_title">Action Items</p>
        </div>
        <div class="float-end">
          <button
            mat-raised-button
            class="section-add-new-record-btn"
            (click)="addActionItemRow()"
          >
            Add
          </button>
        </div>
      </div>
    </div> 
    <<div class="p-2">
      <div> -->
        <ng-container *ngFor="let item of actionDtoList; let i = index">
          <!--<div class="table-box">
          <div class="section_header_child_1">
              <div class="float-left">
                <p class="section_header_title">{{ i + 1 }}</p>
              </div>
              <div class="float-right">
                <button
                  mat-raised-button
                  class="section-add-remove-record-btn"
                  (click)="onRemoveActionItemRow(item)"
                >
                  Remove
                </button>
              </div>
            </div> 
        </div> -->
       <!--   <div class="row no-gutters ms-1 me-1 dense-4">
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Lifecycle No</mat-label>
              <input
                type="text"
                [(ngModel)]="item.ff0001"
                matInput
                placeholder="Lifecycle No"
                class="width_auto border_1_b4b1b1"
                (change)="onChangeLifeCycle(i)"
              />
              <img
                alt="lov img"
                src="../../../../../../assets/searchfind.svg"
                class="icon-size lovSearchButton"
                color="primary"
                (click)="openLifeCycleNoLov(i)"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Department Code</mat-label>
              <input
                type="text"
                [(ngModel)]="item.ff0002"
                matInput
                placeholder="Department Code"
                (change)="onChangeDepartmentCode(i)"
              />
              <img
                alt="lov img"
                src="../../../../../../assets/searchfind.svg"
                class="icon-size lovSearchButton"
                color="primary"
                (click)="openLifeCycleNoLov(i)"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Module Code</mat-label>
              <input
                type="text"
                [(ngModel)]="item.ff0014"
                matInput
                placeholder="Module Code"
                (change)="onChangeModuleCode(i)"
              />
              <img
                alt="lov img"
                src="../../../../../../assets/searchfind.svg"
                class="icon-size lovSearchButton"
                color="primary"
                (click)="openLifeCycleNoLov(i)"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Action Type</mat-label>
              <input
                type="text"
                [(ngModel)]="item.ff0003"
                matInput
                placeholder="Action Type"
              />
              <img
                alt="lov img"
                src="../../../../../../assets/searchfind.svg"
                class="icon-size lovSearchButton"
                color="primary"
                (click)="openActionTypeLov(i)"
              />
            </mat-form-field>
          </div>
          <div class="row no-gutters ms-1 me-1 dense-4 margin-top_5">
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Action Type Name</mat-label>
              <input
                type="text"
                [(ngModel)]="item.ff0013"
                matInput
                placeholder="Action Type Name"
              />
              <img
                alt="lov img"
                src="../../../../../../assets/searchfind.svg"
                class="icon-size lovSearchButton"
                color="primary"
                (click)="openActionTypeLov(i)"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Item Category</mat-label>
              <input
                type="text"
                [(ngModel)]="item.ff0004"
                matInput
                placeholder="Item Category"
              />
              <img
                alt="lov img"
                src="../../../../../../assets/searchfind.svg"
                class="icon-size lovSearchButton"
                color="primary"
                (click)="openActionItemCategoryLov(i)"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Item Sub Category</mat-label>
              <input
                type="text"
                [(ngModel)]="item.ff0015"
                matInput
                placeholder="Item Sub Category"
              />
              <img
                alt="lov img"
                src="../../../../../../assets/searchfind.svg"
                class="icon-size lovSearchButton"
                color="primary"
                (click)="openActionItemSubCategoryLov(i)"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Item Name No</mat-label>
              <input
                type="text"
                [(ngModel)]="item.ff0006"
                matInput
                placeholder="Item Name No"
              />
            </mat-form-field>
          </div>
          <div class="row no-gutters ms-1 me-1 dense-4 margin-top_5">
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Item Name</mat-label>
              <input
                type="text"
                [(ngModel)]="item.ff0005"
                matInput
                placeholder="Item Name"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Product Code</mat-label>
              <input
                type="text"
                [(ngModel)]="item.ff0007"
                matInput
                placeholder="Product Code"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Batch No</mat-label>
              <input
                type="text"
                [(ngModel)]="item.ff0008"
                matInput
                placeholder="Batch No"
              />
            </mat-form-field>
          <mat-form-field appearance="outline" class="col-3 px-1">
                                        <mat-label>Root Cause Type</mat-label>
                                        <input type="text" [(ngModel)]="item.ff0009" matInput
                                            placeholder="Root Cause Type" />
                                        <img alt="lov img" src="../../../../../../assets/searchfind.svg"
                                            class="icon-size lovSearchButton" color="primary"
                                            (click)="openActionRootCauseTypeLov(i)" />
                                    </mat-form-field> 
          </div>
          <div class="row no-gutters ms-1 me-1 dense-4 margin-top_5">
             <mat-form-field appearance="outline" class="col-3 px-1">
                                        <mat-label>Root Cause</mat-label>
                                        <input type="text" [(ngModel)]="item.ff0010" matInput
                                            placeholder="Root Cause" />
                                        <img alt="lov img" src="../../../../../../assets/searchfind.svg"
                                            class="icon-size lovSearchButton" color="primary"
                                            (click)="openActionRootCauseLov(i)" />
                                    </mat-form-field> 
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Action Due date</mat-label>
              <input
                type="text"
                matInput
                [(ngModel)]="item.ff0011"
                [matDatepicker]="picker"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3 px-1">
              <mat-label>Root Initited Date</mat-label>
              <input type="text" matInput [matDatepicker]="picker1" />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="row no-gutters ms-1 me-1 dense-4">
            <mat-form-field appearance="outline" class="col-12">
              <mat-label>Action Description</mat-label>
              <textarea
                type="text"
                [(ngModel)]="item.ff0012"
                matInput
                placeholder="Action Description"
              ></textarea>
            </mat-form-field>
          </div> -->
          <!-- File Upload start -->
          <div class="table-box">
            <div class="secondary_section_header">
              <div class="float-left">
                <p class="section_header_title"></p>
              </div>
              <div class="float-right"></div>
            </div>
          </div>
          <div class="example-input-container">
            <form [formGroup]="CCRequirementForm">
              <div class="row no-gutters ms-1 me-1 dense-4">
                <mat-form-field appearance="outline" class="col-4 px-1">
                  <mat-label>Document Name</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="documentName"
                    placeholder="Document Name"
                  />
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" class="col-3 px-1">
                                                <mat-label>Document Type</mat-label>
                                                <mat-select formControlName="categoryTypes">
                                                    <mat-option value="M">M</mat-option>
                                                    <mat-option value="F">F</mat-option>
                                                    <mat-option value="A">A</mat-option>
                                                </mat-select>
                                            </mat-form-field> -->

                <div class="col-5 px-1 margin-top_5">
                  <input
                    type="file"
                    id="file1"
                    (change)="handleFileInput($event)"
                    accept=".doc, .docx, .pdf"
                  />
                </div>
              </div>
            </form>
            <div class="row no-gutters ms-1 me-1">
              <button
                mat-raised-button
                class="add-new-record-btn"
                (click)="onCreateSelectedDataList(item)"
              >
                Add Row
              </button>
            </div>
          </div>
          <div class="adjust" *ngIf="item.actionAttachmentList?.length > 0">
            <div class="example-table-container">
              <mat-card class="">
                <table class="display-table">
                  <thead>
                    <tr>
                      <th style="color: white">Document Name</th>
                      <th style="color: white">Category Types</th>
                      <th style="color: white">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let row of item.actionAttachmentList;
                        let idx = index
                      "
                      class="table-row"
                    >
                      <td>{{ row.uc0001 }}</td>
                      <td>{{ row.ff0005 }}</td>
                      <td>
                        <button
                          *ngIf="!row.newRecord"
                          mat-icon-button
                          color="primary"
                          (click)="downloadDocument(row)"
                          matTooltip="Download"
                        >
                          <mat-icon>download</mat-icon>
                        </button>
                        <button
                          *ngIf="!row.newRecord"
                          mat-icon-button
                          color="primary"
                          (click)="previewDocument(row, 'document')"
                          matTooltip="Preview"
                        >
                          <mat-icon>open_in_new</mat-icon>
                        </button>
                        <!-- <button mat-icon-button color="warn" (click)="removeRow(row)"> -->
                        <!-- <mat-icon>delete</mat-icon> -->
                        <!-- </button> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </mat-card>
            </div>
          </div>
          <!-- File Upload End -->
        </ng-container>
      </div>
    </div>

    <app-as-common-footer
      [pageData]="this.pageData"
      (comments)="getCommentsData($event)"
    >
      <div class="table-box">
        <app-comments-table
  [headerData]="headerData"
  [ff0005Value]="headerData?.ff0005 ? headerData.ff0005 : 0"
></app-comments-table>
      </div>
    </app-as-common-footer>
    <!-- <ng-container *ngIf="showDropdownList">
      <mat-form-field appearance="outline">
        <mat-label>Select List</mat-label>
        <mat-select
          [(ngModel)]="selectedValue"
          (selectionChange)="selectionChange()"
        >
          <mat-option value="specific"> Specific </mat-option>
          <mat-option value="all"> All</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-raised-button
        class="submitButton"
        (click)="addNewRow()"
        *ngIf="selectedValue === 'specific'"
        [disabled]="disableButtons"
      >
        CFT User
      </button>
    </ng-container> -->
    <button
  *ngIf="headerData?.role === 'CC-QA Reviewer'"
  mat-raised-button
  class="submitButton"
  (click)="addNewRow()"
>
  CFT User
</button>
    
    <app-common-button-bar
      [buttonConfig]="buttonConfig"
      (buttonClicked)="onButtonClicked($event)"
      [redirectUrl]="redirectUrl"
    >
    </app-common-button-bar>
    <mat-spinner
      *ngIf="isLoading"
      class="global-loading-spinner"
      color="primary"
      mode="indeterminate"
    ></mat-spinner>
    <div class="height_5"></div>
  <!-- </div>
</div> -->
