<mat-spinner
  *ngIf="isLoading"
  class="global-loading-spinner"
  color="primary"
  mode="indeterminate"
></mat-spinner>
<div class="row gx-0 create-update-dialog-header-section">
  <div class="col-10 d-flex justify-content-start">
    <h1 class="daialog-title-name p-2">WS Lot Record {{ this.userData.type }}</h1>
  </div>
  <div class="col-2 d-flex justify-content-end">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
  </div>
</div>
<div class="screenOverFlowY">
  <form [formGroup]="DepartmentMaster" class="margin-top_7">
    <mat-card>
      <div class="p-2">
        <div class="section_header">
          <p class="section_header_title">WS Lot Record Information</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="p-2">
            <div class="row no-gutters pb-2 ms-1 me-1">
              <span class="form-validation-msg"
                >Required Fields are denoted by an asterisk(<span
                  class="color_red"
                  >*</span
                >).</span
              >
            </div>
            <div class="row no-gutters ms-1 me-1 dense-4 orgCode"><br/>
              <mat-form-field appearance="outline" class="col-12 px-1">
                <mat-label>Unit Code</mat-label>
                <input
                  type="text"
                  matInput
                  readonly
                  formControlName="unitcode"
                  (change)="onChangePlantCode()"
                />
              </mat-form-field>
            </div>         
            <div class="row no-gutters ms-1 me-1 dense-4">
              <mat-form-field appearance="outline" class="col-6 px-1" *ngIf="isUpdate">
                <mat-label>WS.Lot No</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="uc0001"
                  [readonly]="isUpdate"
                  [class.isReadonlyField]="isUpdate"
                  placeholder="WS.Lot No"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Product Code</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0001"
                  placeholder="Product Code"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Lot type</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0002"
                  placeholder="Lot type"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Sample Ref.No</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0003"
                  placeholder="Sample Ref.No"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Conatainer Type</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0004"
                  placeholder="Conatainer Type"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Storage Conditon</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0005"
                  placeholder="Storage Conditon"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Lot Quantity</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0006"
                  placeholder="Lot Quantity"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Lot Quantity UOM</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0007"
                  placeholder="Lot Quantity UOM"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Manfacture Date</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0008"
                  placeholder="Manfacture Date"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Expiry date</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0009"
                  placeholder="Expiry date"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Batch No</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0010"
                  placeholder="Batch No"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Source Batch No</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0011"
                  placeholder="Source Batch No"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>WS. Vailidity ON</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0012"
                  placeholder="WS. Vailidity ON"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Lot Validity Up to</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0013"
                  placeholder="Lot Validity Up to"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Usage Type</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0014"
                  placeholder="Usage Type"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>No of Purities</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0015"
                  placeholder="No of Purities"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>No of Purities  UOM</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0016"
                  placeholder="No of Purities  UOM"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Conatainer Validity Days</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0017"
                  placeholder="Conatainer Validity Days"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Container Satrting No</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0018"
                  placeholder="Container Satrting No"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>No Of Container</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0019"
                  placeholder="No Of Container"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Alert Coantainer No</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0020"
                  placeholder="Alert Coantainer No"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Total Coantainer QTY</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0021"
                  placeholder="Total Coantainer QTY"
                />
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-6 px-1">
                <mat-label>Total Coantainer UOM</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="ff0022"
                  placeholder="Total Coantainer UOM"
                />
              </mat-form-field>
            </div>
            <div class="row no-gutters ms-1 me-1 dense-4" *ngIf="isUpdate">
              <mat-form-field appearance="outline" class="col-12 px-1">
                <mat-label>Status</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="status"
                  placeholder="Status"
                  (change)="onChangeStatus()"
                />
                <img
                  alt="lov img"
                  src="../../../../../../assets/searchfind.svg"
                  class="icon-size lovSearchButton"
                  color="primary"
                  (click)="openStatusLOV()"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card>
      <div class="p-2">
        <div class="section_header">
          <p class="section_header_title">Comments</p>
        </div>
      </div>

      <div>
        <div class="col-12">
          <div class="p-2">
            <div class="row no-gutters ms-1 me-1">
              <mat-form-field appearance="outline">
                <mat-label>Comments</mat-label>
                <textarea
                  type="text"
                  matInput
                  formControlName="comments"
                  placeholder="Comments"
                >
                </textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </form>
</div>
<div class="containerBTN">
  <div class="d-flex justify-content-center">
    <button
      mat-raised-button
      class="submitButton"
      (click)="isUpdate ? onUpdate() : onSaveConfirmation()"
      [class.isDisabledBtn]="DepartmentMaster.invalid"
    >
      {{
        isUpdate
          ? buttonLabelService.getLabel("submit")
          : buttonLabelService.getLabel("submit")
      }}
    </button>
    <button
      mat-raised-button
      class="submitButton"
      *ngIf="!isUpdate"
      (click)="onClear()"
    >
      Clear
    </button>
  </div>
</div>
