.example-table-container {
    min-width: 100%;
    /* overflow-x: scroll; */
  }
  
  .unit-code-container {
    min-width: 49%;
  }
  
  .sales-code-container {
    min-width: 49%;
  }
  
  .height_50 {
    height: 50px;
  }
  
  .display-flex {
    display: flex;
    justify-content: center;
  }
  
  .display-end {
    display: flex;
    justify-content: end;
    margin-right: 107px;
    & .primary
    {
      flex: 0 0 214px;
    }
  
    & .secondary {
      flex: 0 0 207px;
    }
  }
  
  .margin-left_12_px {
    margin-left: 12px;
  }
  