<div class="adjust">
  <div class="example-table-container">
    <app-common-header [pageData]="this.pageData" (headerData)="getHeaderData($event)"></app-common-header>
  </div>
</div>

<div class="table-box">
  <div class="section_header">
    <div class="float-left">
      <p class="section_header_title">Product Information</p>
    </div>
  </div>
</div>

<ng-container [formGroup]="productInformation">
  <div class="row no-gutters ms-1 me-1 dense-4">
    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Product Name</mat-label>
      <input type="text" matInput placeholder="Please enter product name" formControlName="productName"[readonly]="isReadonly" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Protocol No</mat-label>
      <input type="text" matInput placeholder="Please enter protocol no" formControlName="protocolNo"[readonly]="isReadonly" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Sample Description</mat-label>
      <input type="text" matInput placeholder="Please enter sample description" formControlName="sampleDes" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Test Parameter</mat-label>
      <input type="text" matInput placeholder="Please enter text parameter" formControlName="testParameter" [readonly]="isReadonly"/>
    </mat-form-field>
  </div>

  <div class="row no-gutters ms-1 me-1 dense-4">
    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Standard Number</mat-label>
      <input type="text" matInput placeholder="Please enter Standard Number" formControlName="standardnumber"[readonly]="isReadonly" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Standard Name</mat-label>
      <input type="text" matInput placeholder="Please enter Standard Name" formControlName="standardname" [readonly]="isReadonly"/>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Analyst Name</mat-label>
      <input type="text" matInput placeholder="Please enter analyst name" formControlName="analystName" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Batch No</mat-label>
      <input type="text" matInput placeholder="Please enter batch no" formControlName="batchNo" [readonly]="isReadonly"/>
    </mat-form-field>
    </div>
    <div class="row no-gutters ms-1 me-1 dense-4">
    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>AR No</mat-label>
      <input type="text" matInput placeholder="Please enter ar no" formControlName="arNo" [readonly]="isReadonly"/>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Lower Limit</mat-label>
      <input type="text" matInput placeholder="Please enter ar no" formControlName="lowerLimit" [readonly]="isReadonly" />
    </mat-form-field>   
    <mat-form-field appearance="outline" class="col-3 px-1">
    <mat-label>Upper Limit</mat-label>
    <input type="text" matInput placeholder="Please enter ar no" formControlName="upperLimit" [readonly]="isReadonly"/>
  </mat-form-field>
  <mat-form-field appearance="outline" class="col-3 px-1">
    <mat-label>Assay Type</mat-label>
    <input type="text" matInput placeholder="Please enter ar no" formControlName="assayType" [readonly]="isReadonly"/>
  </mat-form-field> 
  </div>
  <div class="row no-gutters ms-1 me-1 dense-4">   
    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Result</mat-label>
      <input type="text" matInput placeholder="Please enter ar no" formControlName="result" [readonly]="isReadonly"/>
    </mat-form-field>
  </div>
</ng-container>
<div class="table-box">
  <div class="section_header">
    <div class="float-left">
      <p class="section_header_title">Assay Calculation</p>
    </div>
  </div>
</div>
<ng-container [formGroup]="assayCalculationForm">
  <div class="row no-gutters ms-1 me-1 dense-4">
    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Molecular Weight 1</mat-label>
      <input type="text" matInput placeholder="Please Enter Molecular Weight 1 value"
        formControlName="molecularWeightOne" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Molecular Weight 2</mat-label>
      <input type="text" matInput placeholder="Please Enter Molecular Weight 2 value"
        formControlName="molecularWeightTwo" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Standard Average Area</mat-label>
      <input type="text" matInput placeholder="Please Enter Standard Average Area" formControlName="standardAvgArea"[readonly]="isReadonly" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Label Claim (in mg)</mat-label>
      <input type="text" matInput placeholder="Please Enter Label Claim" formControlName="labelClaim" [readonly]="isReadonly"/>
    </mat-form-field>
  </div>

  <div class="row no-gutters ms-1 me-1 dense-4">
    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Standard Purity(%)</mat-label>
      <input type="text" matInput placeholder="Please Enter Standard Purity value" formControlName="standardPurity"[readonly]="isReadonly" />
    </mat-form-field>
  </div>
</ng-container>

<div class="table-box">
  <div class="section_header">
    <div class="float-left">
      <p class="section_header_title">Standard Dilution</p>
    </div>
  </div>
</div>
<ng-container [formGroup]="standardDilutionForm">
  <div class="row no-gutters ms-1 me-1 dense-4">
    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Mg to</mat-label>
      <input type="text" matInput placeholder="Please Enter Mg to value" formControlName="mgToOne"[readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml value" formControlName="mlOne" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml to</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml to value" formControlName="mlToTwo"[readonly]="isReadonly" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml value" formControlName="mlTwo" [readonly]="isReadonly"/>
    </mat-form-field>
  </div>

  <div class="row no-gutters ms-1 me-1 dense-4">
    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml to</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml to value" formControlName="mlToThree"[readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml value" value="1" formControlName="mlThree" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml to</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml to value" formControlName="mlToFour" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml value" formControlName="mlFour" [readonly]="isReadonly"/>
    </mat-form-field>
  </div>

  <div class="row no-gutters ms-1 me-1 dense-4">
    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml to</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml to value" formControlName="mlToFive" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml value" formControlName="mlFive" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml to</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml to value" formControlName="mlToSix" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml value" formControlName="mlSix" [readonly]="isReadonly"/>
    </mat-form-field>
  </div>
</ng-container>

<div class="table-box">
  <div class="section_header">
    <div class="float-left">
      <p class="section_header_title">Sample Preparation</p>
    </div>
  </div>
</div>

<ng-container [formGroup]="samplePreparation">
  <div class="row no-gutters ms-1 me-1 dense-4">
    <div class="col-3 px-1">
      <div style="display: flex; gap: 20px">
        <p>Tablets/Powder</p>
        <p>mg to</p>
      </div>
    </div>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml value" formControlName="mlOne" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml to</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml to value" formControlName="mlToOne" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml value" formControlName="mlTwo" [readonly]="isReadonly"/>
    </mat-form-field>
  </div>

  <div class="row no-gutters ms-1 me-1 dense-4">
    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml to</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml to value" formControlName="mlToTwo" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml value" formControlName="mlThree" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml to</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml to value" formControlName="mlToThree" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml value" formControlName="mlFour"[readonly]="isReadonly"/>
    </mat-form-field>
  </div>

  <div class="row no-gutters ms-1 me-1 dense-4">
    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml to</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml to value" formControlName="mlToFour" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml value" formControlName="mlFive" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml to</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml to value" formControlName="mlToFive" [readonly]="isReadonly"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3 px-1">
      <mat-label>Ml</mat-label>
      <input type="text" matInput placeholder="Please Enter Ml value" formControlName="mlSix" [readonly]="isReadonly"/>
    </mat-form-field>
  </div>
</ng-container>

<div class="table-box">
  <div class="section_header">
    <div class="float-left">
      <p class="section_header_title">Sample Information</p>
    </div>
  </div>
</div>

<!-- <div class="ms-1 me-1">
  <button mat-raised-button class="section-add-new-record-btn" (click)="addFields()">
    Add
  </button>
</div> -->

<!-- <div class="row no-gutters dense-4 display-end" [formGroup]="roundUpValues">
  <mat-form-field appearance="outline" class="col-2 px-1 primary">
    <mat-label>Select a value for Content</mat-label>
    <mat-select formControlName="dropdownContent">
      <mat-option *ngFor="let number of numbers" [value]="number.number">
        {{ number.number }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-2 px-1 secondary">
    <mat-label>Select a value for Content</mat-label>
    <mat-select formControlName="dropdownAnhydrous">
      <mat-option *ngFor="let number of numbers" [value]="number.number">
        {{ number.number }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-2 px-1 third">
    <mat-label>Select a value for Content</mat-label>
    <mat-select formControlName="dropdownSolvent">
      <mat-option *ngFor="let number of numbers" [value]="number.number">
        {{ number.number }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div> -->

<ng-container [formGroup]="sampleInformation">
  <ng-container formArrayName="sampleInfo">
    <ng-container *ngFor="let array of getFormArray().controls; let i = index">
      <ng-container [formGroupName]="i">
        <!-- <img src="/assets/delete.png" (click)="removeFields(i)" /> -->
        <div class="row no-gutters ms-1 me-1 dense-4">
          <mat-form-field appearance="outline" class="col-1 px-1">
            <mat-label>Sample Details</mat-label>
            <input type="text" matInput placeholder="Please Enter Ml to value" formControlName="sampleDetails" [readonly]="isReadonly"/>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-1 px-1">
            <mat-label>SPl Area/Abs</mat-label>
            <input type="text" matInput placeholder="Please Enter Ml value" formControlName="spiArea" [readonly]="isReadonly"/>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-1 px-1">
            <mat-label>Spl.Wt.</mat-label>
            <input type="text" matInput placeholder="Please Enter Ml to value" formControlName="splWeight" [readonly]="isReadonly"/>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-1 px-1">
            <mat-label>%Water/LOD % Solvent</mat-label>
            <input type="text" matInput placeholder="Please Enter Ml value" formControlName="waterLod"[readonly]="isReadonly" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-1 px-1">
            <mat-label>% Solvent</mat-label>
            <input type="text" matInput placeholder="Please Enter Ml value" formControlName="solvent" [readonly]="isReadonly"/>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-2 px-1">
            <mat-label>%Content (as is basis)</mat-label>
            <input type="text" matInput formControlName="basisContent" [readonly]="isReadonly"/>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-2 px-1">
            <mat-label>%Content (anhydrous basis)</mat-label>
            <input type="text" matInput formControlName="anhydrousBasis" [readonly]="isReadonly"/>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-2 px-1">
            <mat-label>%Content (anhydrous and solvent free basis)</mat-label>
            <input type="text" matInput formControlName="ashydrousAndSolventFreeBasis" [readonly]="isReadonly"/>
          </mat-form-field>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>

<div class="row no-gutters dense-4 display-end" [formGroup]="aveargeCalculate">
  <mat-form-field appearance="outline" class="col-2 px-1 primary">
    <mat-label>Average %Content (as is basis)</mat-label>
    <input type="text" matInput placeholder="Please Enter Ml to value" formControlName="averageContent" [readonly]="isReadonly"/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-2 px-1 secondary">
    <mat-label>Average %Content (anhydrous basis)</mat-label>
    <input type="text" matInput placeholder="Please Enter Ml value" formControlName="averageAnhydrous" [readonly]="isReadonly"/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-2 px-1 third">
    <mat-label>Average %Content (anhydrous and solvent free basis)</mat-label>
    <input type="text" matInput placeholder="Please Enter Ml value" formControlName="averageAnhydrousAndSolvent"[readonly]="isReadonly" />
  </mat-form-field>
</div>

<!-- <div class="table-box margin-left_10 margin-right_10 margin-top_4">
  <mat-table
    [dataSource]="dataSource"
    id="datTable"
    matTableExporter
    #exporter="matTableExporter"
    matSort
    class="bg-color_ghost_White"
  >
    <ng-container matColumnDef="createdby">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >User Id</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.createdby }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ff0003">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Role Name</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.ff0003 }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ff0005">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Version</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        {{ onRequestVersion(row) }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdon">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.createdon }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Comments</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.comments }} </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="resviewCommentsDisplayColumn"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: resviewCommentsDisplayColumn"
    ></mat-row>
  </mat-table>
</div> -->


<!-- <form [formGroup]="FooterForm">
  <div class="row no-gutters me-1 dense-4">
    <mat-form-field appearance="outline" class="col-4 px-1">
      <mat-label>Next stage</mat-label>
      <input
        type="text"
        matInput
        formControlName="nextStage"
        placeholder="Next Stage"
      />
      <img
        alt="lov img"
        src="../../../../../../assets/searchfind.svg"
        class="icon-size lovSearchButton"
        color="primary"
        (click)="openNextStageLov()"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-4 px-1">
      <mat-label>Previous stage</mat-label>
      <input
        type="text"
        matInput
        formControlName="previousStage"
        placeholder="Previous Stage"
      />
      <img
        alt="lov img"
        src="../../../../../../assets/searchfind.svg"
        class="icon-size lovSearchButton"
        color="primary"
        (click)="openPreviousStageLov()"
      />
    </mat-form-field>
  </div>
</form> -->

<app-as-common-footer
  [pageData]="this.pageData"
  (comments)="getCommentsData($event)"
>
  <div class="table-box">
    <app-comments-table
      [headerData]="this.headerData"
      [ff0005Value]="ff0005"
      [commentType]="commentType"
    ></app-comments-table>
  </div>
</app-as-common-footer>
<div class="containerBTN margin-top_2 margin-bottom_35">
  <div class="d-flex justify-content-center">
    <button
      mat-raised-button
      class="submitButton" 
      (click)="downloadras1s()"    
    >
     Download
    </button>
    <button
      mat-raised-button
      class="submitButton"      
      (click)="downloadras1a()">

    Download
    </button>
    <button
      mat-raised-button
      class="submitButton"
      (click)="downloadras1()">

    Download
    </button>
  </div>
</div>
<mat-spinner
  *ngIf="isLoading"
  class="global-loading-spinner"
  color="primary"
  mode="indeterminate"
></mat-spinner>
<div class="height_5"></div>